:root{
    --mainColor: #10cab7;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}
/* container to page content start from center  */
.container{
    /* to make space before & after content to start from center */
    margin-left: auto;
    margin-right: auto;
    /* to make space before & after content for small width size screen  */
    padding-right: 15px;
    padding-left: 15px;
}

/* media quires to make your websit suitable for all screen size */
/* small screen */
@media (min-width: 768px) and (max-width: 991px){
    .container{
        width: 750px;
    }
}
/* meduim screen */
@media (min-width: 992px) and (max-width: 1199px){
    .container{
        width: 970px;
    }
}
/* large screen */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* end global rules */

/* start components */
.special-heading{
    letter-spacing: -2px;
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}

.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    opacity: 50%;
    color: black;

}

/* End components */

/* start header */
.header{
    padding: 20px;
}

/* container for websit start from center  */

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 60px;
}

.header .links{
   position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

  }

.header .links .icon span{
    background-color: black;
    margin-bottom: 5px;
    height: 3px;
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 60%;
    transition-duration: 0.5s;
}

.header .links .icon span:last-child{
    width: 100%;
}

.header .links ul{
    background-color: #fafafa;
    list-style-type: none;
    min-width: 150px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    transition-delay: .5s;
    display: none;
    border-radius: 5px;
    z-index: 1;

}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    position: absolute;
    border-color: transparent transparent #10cab798 transparent;
    border-width: 10px;
    border-style: solid;
    right: 5px;
    top: -20px;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 2px solid rgb(235, 224, 224);
}

.header .links ul  a{
    display: block;
    text-decoration: none;
    color: darkcyan;
    padding: 15px;
    transition: .5s;

}

.header .links ul  a:hover{
    padding-left: 25px;
    font-weight: bold;
}

/* end header */
/* start landing */
.landing{
    background-image: url(../image/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* to prevent content out from layout */
    max-width: 100%;
    width: 320px;
}

.landing .intro-text h1{
    margin: 0;
    color: var(--mainColor);
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing */

/* start feature */

.features{
    background-color: #eeeeee3d;
    padding-top: 60px;
    padding-bottom: 60px;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
    text-align: center;
}

.features .feat{
    transition-duration: 1.3s;
}

.features .feat:hover{
    box-shadow: 0px 0px 10px 5px #10cab74f;
}

.features .feat i{
    height: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 50px;
    color: var(--mainColor);
    transition: .5s;
}


.features .feat i:hover{
    font-size: 60px;
}

.features .feat h3{
    font-weight: 800;
}

.features .feat p{
    opacity: 50%;
}

/* End feature */

/* start services */
@media (max-width: 768px){
    .special-heading{
        font-size: 60px;
    } 

}
@media (max-width: 768px){
    .special-heading + p{
        font-size: 16px;
        margin: -20px 0 0;
    } 

}

.services{
    padding-bottom: 60px;
    padding-top: 60px;
}

.services .ser-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px    
}

.services .ser-container .column .serv-items{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 20px;
    margin-bottom: 40px;
    transition: 1.5s;
    padding: 5px;
    height: 180px;
    /* height: 177.33px; */
}

.services .ser-container .column .serv-items:hover{

    box-shadow: -5px 5px 14px 0px #004d40;
}

@media (max-width:767px){
    .services .ser-container .column .serv-items{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.services .ser-container .column .serv-items i{
    flex-basis: 60px;
    color: var(--mainColor);
}

.services .ser-container .column .serv-items .text{
    flex: 1;
}

.services .ser-container .column .serv-items .text h3{
    margin: 0;
    color: #004D40;
}

.services .ser-container .column .serv-items .text p{
    opacity: 50%;
    color: #444;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
    padding-top: 10px;
}

.services .ser-container .column .img::before{
    content: "";
    width: 100px;
    background-color: #2c4755;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .ser-container .column .img{
    text-align: center;
    position: relative;
}

.services .ser-container .column .img img{
    width: 260px;

}
/* End services */

/* start Portfolio */
.Portfolio{
    background-color: #f6f6f6;
    padding-top: 80px;
    padding-bottom: 80px;

}

.Portfolio .Portf-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.Portfolio .Portf-container .col{
    background-color: white;

}

.Portfolio .Portf-container .col img{
   max-width: 100%;

}

.Portfolio .col .text{
    padding: 20px;
}

.Portfolio .Portf-container .col .text h3{
    margin: 0;
}

.Portfolio .Portf-container .col .text p{
    color: #777;
    margin-bottom: 0;
    line-height: 1.8;
    opacity: 50%;
    
}
/* End Portfolio */

/* start About */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (max-width:767px) {
    .about .about-container{
        flex-direction: column;
        text-align: center;
    }
}

.about .about-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
    

@media (max-width: 991px){
    .about .about-container .image {
        margin: 0 auto 60px;
    }
}

.about .about-container .image{
       position: relative;
       width: 250px;
       height: 375px;
       /* text-align: center; */
}

.about .about-container .image::before{
    content: "";
    border-bottom: 50px solid #e0f2f1;
    border-left: 60px solid #e0f2f1;
    height: calc(100% + 25px);
    width: 160px;
    position: absolute;
    top: -45px;
    left: -20px;
    z-index: -1

}

.about .about-container .image::after{
    content: "";
    border-top: 50px solid #b2dfdb;
    border-right: 60px solid #b2dfdb;
    height: calc(100% + 20px);
    width: 160px;
    position: absolute;
    top: -20px;
    right: -30px;
    z-index: -1;
}


.about .about-container .image img{
  max-width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}


.about .about-container .text{
   flex-basis: calc(100% - 500px);
}


.about .about-container .text hr{
    background-color: #00796b;
    border: 1px solid #00796b;
    width: 60%;
}

.about .about-container .text p{
    padding-top: 50px;
}


.about .about-container .text p:first-child{
    font-weight: bold;    
    margin-bottom: 50px;
    line-height: 2;
}

.about .about-container .text p:last-child{
    opacity: 50%;   
    line-height: 2; 
}

/* End About */

/* Start Contact  */
.Contact{
    background-color: #f6f6f6;
    padding-top: 100px;
    padding-bottom: 100px;
}



.Contact .container .contact-container{
    text-align: center;
}

.Contact .container .contact-container p{
    color: #2c4755;
    font-size: 30pt;
    font-weight: bold;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 20px;
}

.Contact .container .contact-container a{
    text-decoration: none;
    color: rgb(13, 109, 112);
    font-weight: bold;
    font-size: 20pt;
}

.Contact .container .contact-container .social{
    padding-top: 20px;
}
/* End Contact  */

/* Start footer */

.footer{
    background-color: #2c4755;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .container p{
        font-size: 15px;
    }    
}

.footer .container p{
    color: white;
    font-size: 20pt;
    margin: 0;
    padding: 0;
    text-align: center;
}


.footer p span{
    
    font-weight: bold;
    font-size: 20pt;
    color: #10cab7;
} 
/* End footer */